version: "3.8"

services:
  client:
    build: ./client
    container_name: whiteboard-client
    ports:
      - "5173:80"
    env_file:
      - ./client/.env
    depends_on:
      - server

  server:
    build: ./server
    container_name: whiteboard-server
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    depends_on:
      - mongo
    restart: always

  mongo:
    image: mongo:6
    container_name: mongo-db
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
