version: "3.8"

services:
  mongo:
    image: mongo:6
    container_name: whiteboard-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  server:
    build: ./server
    container_name: whiteboard-server
    restart: always
    env_file:
      - ./server/.env
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    environment:
      - MONGODB_URI=mongodb://mongo:27017/collaborative-whiteboard
      - CLIENT_URL=http://localhost:5173

  client:
    build: ./client
    container_name: whiteboard-client
    restart: always
    env_file:
      - ./client/.env
    depends_on:
      - server
    ports:
      - "5173:80"
    environment:
      - VITE_SOCKET_URL=http://server:5000

volumes:
  mongo_data:
